*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}

h1{
    color: rgb(17, 0, 255);
}

#surname{
    color: yellowgreen;
}

#name{
    color: orange;
}

#Col{
   color: violet;
}

#cost{
    color: lime;
}

#passkey{
    color: red;
}